# virtual env
venv/

# python cache
__pycache__/
*.pyc

# outputs e logs
outputs/
logs/

# env
.env

*.log

metrics/input/*
!metrics/input/.gitkeep
metrics/output/*
!metrics/output/.gitkeep

tools/input/*
!tools/input/.gitkeep
tools/output/*
!tools/output/.gitkeep
